
body {
    background-color: beige;
}
iframe.mews-distributor {
    width: 70% !important;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
    margin-top: 2% !important;
    transform: translateX(20%) !important;
    border: 1px solid rgb(229, 229, 229, 1) !important;
}

.form-control[readonly] {
    background-color: white;
}
form#date-form {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -4em;
    padding: 1em;
    background-color: #f0f2e9;
    border-radius: 8px;
}
.form-field {
    float: left;
    margin-right: 0.5rem;
}
select#selectlocation, input#calendar-range,
select#adultos, input#vouchercode, input#availability{
    height: 40px;
    background-color: transparent;
    border-radius: 8px;
    border-color: #34566F;
    color: #34566F;
    font-size: 14px;
}
select#selectlocation   { max-width: 214px; }
input#calendar-range    { max-width: 214px; }
select#adultos          { max-width: 133px; }
input#vouchercode       { max-width: 114px; text-align: center; }
input#availability {    
    min-width: 133px;
    background-color: #E28F7B;
    border-color: #E28F7B;
    color: #ffffff;
}
input#availability:hover {
    background-color: #e27b61;
    border-color: #e27b61;
}
input#availability:disabled {
    background-color: #e2bab0;
    border-color: #e2bab0;
}
input#availability.lodge {
    background-color: #6e9ea7;
    border-color: #6e9ea7;
}
input#availability.lodge:hover {
    background-color: #5595a0;
    border-color: #5595a0;
}
input#availability.lodge:disabled {
    background-color: #7a8f92;
    border-color: #7a8f92;
}

input#availability.castle {
    background-color:  #80b198;
    border-color:  #80b198;
}
input#availability.castle:hover {
    background-color:  #6fad8d;
    border-color:  #6fad8d;
}
input#availability.castle:disabled {
    background-color:  #85a494;
    border-color:  #85a494;
}

input#calendar-range {
    background: url(./assets/images/calendar-regular.svg) no-repeat;
    background-size: 14px;
    background-position: 10px 10px;
    padding-left: 38px;
}
.flatpickr-current-month .numInputWrapper {
    position: relative;
    top: -23px;
    left: 70px;
}
.flatpickr-current-month input.cur-year {
    pointer-events: none;
}
.flatpickr-month {
    height: 40px !important;
}
.warning {
    border-color: #e27b61 !important;
    color: #dc431c !important;
    background-color: #e27b6114 !important;
}

@media (max-width: 576px) {
    form#date-form {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        position: relative;
        align-items: center;

    }
    .form-field {
        float: none;
        margin-bottom: 15px;
        width: 90%;
    }
    select#selectlocation, input#calendar-range,
    select#adultos, input#vouchercode {
        max-width: 100%;
    }
    input#availability {
        min-width: 100%;
    }
    iframe.mews-distributor {
        width: 100% !important;
        margin-top: 15% !important;
        transform: translate(0%, 0%) !important;
    }
}
