
html {
    overflow: visible !important;
}
body {
    background-color: beige;
    overflow: visible !important;
}
iframe.mews-distributor {
    width: 70% !important;
    box-shadow: 200px 200px 400px 500px rgba(0,0,0,0.6);
    -webkit-box-shadow: 200px 200px 400px 500px rgba(0,0,0,0.6);
    -moz-box-shadow: 200px 200px 400px 500px rgba(0,0,0,0.6);
    margin-top: 2% !important;
    transform: translateX(20%) !important;
    border: 1px solid rgb(229, 229, 229, 1) !important;
}

.form-control[readonly] {
    background-color: white;
}
form#date-form {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -4em;
    padding: 1em;
    background-color: #f0f2e9;
    border-radius: 8px;
}
.form-field {
    float: left;
    margin-right: 0.5rem;
}
/* ***************** */
select#selectlocation, select#adultos {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%2334566F%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%2334566F%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
      background-size: .6em;
      background-position: calc(100% - 0.8em) center;
      background-repeat: no-repeat;
  }
  select#selectlocation::-ms-expand,
  , select#adultos::-ms-expand {
      display: none;
  }
  /* *************** */

select#selectlocation, input#calendar-range, input.calendar-input, 
select#adultos, input#vouchercode, input#availability{
    height: 40px;
    background-color: transparent;
    border-radius: 8px;
    border-color: #34566F;
    color: #34566F;
    font-size: 14px;
}
select#selectlocation   { max-width: 215px; min-width: 174px; }
input#calendar-range, input.calendar-input    { max-width: 205px; }
select#adultos          { max-width: 133px; }
input#vouchercode       { max-width: 115px; text-align: center; }
input#availability {    
    min-width: 133px;
    background-color: #E28F7B;
    border-color: #E28F7B;
    color: #ffffff;
}
input#availability:hover {
    background-color: #e27b61;
    border-color: #e27b61;
}
input#availability:disabled {
    background-color: #e2bab0;
    border-color: #e2bab0;
}
input#availability.lodge {
    background-color: #6e9ea7;
    border-color: #6e9ea7;
}
input#availability.lodge:hover {
    background-color: #5595a0;
    border-color: #5595a0;
}
input#availability.lodge:disabled {
    background-color: #7a8f92;
    border-color: #7a8f92;
}

input#availability.castle {
    background-color:  #80b198;
    border-color:  #80b198;
}
input#availability.castle:hover {
    background-color:  #6fad8d;
    border-color:  #6fad8d;
}
input#availability.castle:disabled {
    background-color:  #85a494;
    border-color:  #85a494;
}

input#availability.catalina {
    background-color:  #B4C0B5;
    border-color:  #aebeaf;
}
input#availability.catalina:hover {
    background-color:  #abc1ad;
    border-color:  #a4bea6;
}
input#availability.catalina:disabled {
    background-color:  #bbc0bb;
    border-color:  #b0b4b0;
}



input#calendar-range,
input.calendar-input {
    background: url(./assets/images/calendar-regular.svg) no-repeat;
    background-size: 14px;
    background-position: 10px 10px;
    padding-left: 38px;
}
.flatpickr-current-month .numInputWrapper {
    position: relative;
    top: -23px;
    left: 70px;
}
.flatpickr-current-month input.cur-year {
    pointer-events: none;
}
.flatpickr-month {
    height: 40px !important;
}
.warning {
    border-color: #e27b61 !important;
    color: #dc431c !important;
    background-color: #e27b6114 !important;
}

@media (max-width: 576px) {
    form#date-form {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        position: relative;
        align-items: center;
        top: 0em;
    }
    .form-field {
        float: none;
        margin-bottom: 15px;
        width: 90%;
    }
    select#selectlocation, input#calendar-range, input.calendar-input,
    select#adultos, input#vouchercode {
        max-width: 100%;
    }
    input#availability {
        min-width: 100%;
    }
    iframe.mews-distributor {
        width: 100% !important;
        margin-top: 15% !important;
        transform: translate(0%, 0%) !important;
    }
}
